<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <title>Happy</title>
</head>

<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img id="logo" class="animate-up" src="/images/logo.svg" alt="Happy Logo">
                <div class="location animate-up">
                    <strong>Santa Maria</strong>
                    <p>Rio Grande do Sul</p>
                </div>
            </header>
        
            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>
                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças.</p>
                    <a href="orphanages" class="animate-up" title="Visite orfanatos"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66663 16H25.3333" stroke="#8D734B" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 6.66669L25.3333 16L16 25.3334" stroke="#8D734B" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                </section>
            </main>
        </div><!--container-->
    </div><!--page-landing-->
</body>
</html>